# Distribution / packaging
.Python
*.pyc
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env

# Serverless directories
.vscode
.serverless
.idea
venv
node_modules
.dynamodb
elasticmq-server-*.jar
packages
parking_ppu_sample.csv

package-lock.json

tmp
__credentials__
test.py

**/generated/*_pb*

aws-credentials

*.docker

.DS_Store